*, *::before, *::after {
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
body {
    background-color: #1F2937;
}
header, #heroSection {
    margin: 0 15%;
}
#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;

}
#navbar > p {
    color: #F9FAF8;
    font-size: 24px;
}
#navbar > div {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}
#navbar > div > a {
    color: #bdbfc2;
    font-size: 18px;
    text-decoration: none;
}
#heroSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 90px 0;
    gap: 100px;
}
#textWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 250px
}
#textWrapper > p:nth-child(1) {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
}
#textWrapper > p:nth-child(2) {
    color: #bdbfc2;
    font-size: 18px;
}
#textWrapper > button {
    align-self: flex-start;
    cursor: pointer;
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 7.5px 30px;
    border: none;
    border-radius: 7.5px;
    font-size: 18px;
    font-weight: bold;
}
#heroImgWrapper {
    height: 250px;
    width: 950px;
    display: flex;
    justify-content: flex-end;  
}
#heroImgWrapper > img {
    height: 100%;
    width: 100%;
    object-fit: fill;
}
#infoSection {
    background-color: white;
    text-align: center;
}
#infoSection > p, #infoSection > div{
    margin: 0 20%;
}
#infoSection > p {
    color: #1F2937;
    font-size: 36px;
    font-weight: bolder;
    padding: 50px 0 50px 0;
}
#infoImgWrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.imgBox {
    height: 180px;
    width: 180px;
    border: #3882F6 solid 1px;
    border-radius: 10px;
}
.imgBox > img {
    height: 100%;
    width: 100%;
    object-fit: fill;
    border-radius: 5px;
}
#infoSubtext {
    padding: 0 0 114px 0;
    margin: 0 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 18px;
    color: #8d9095;
}
#infoSubtext > p {
    width: 180px;
}
#quoteSection {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#quoteSection > p {
    margin: 0 20%;
}
#quoteSection > p:nth-child(1) {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
    padding: 114px 0 0 0;
}
#quoteSection > p:nth-child(2) {
    padding: 0 0 114px 0;
    font-size: 26px;
    align-self: flex-end;
    font-weight: bold;
    color: #1F2937
}
#actionSection {
    padding: 100px 0 100px 0;
    background-color: white;
    display: flex;
    justify-content: center;
}
#actionArea {
    margin: 0 15%;
    border-radius: 10px;
    height: 125px;
    width: 100%;
    background-color: #3882F6;
    color: #F9FAF8;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#actionArea > div > p:nth-child(1) {
    font-weight: bold;
    font-size: 26px;
}
#actionArea > div > p:nth-child(2) {
    font-size: 18px;
    color: #e8e8e8;
}
#actionArea > button {
    cursor: pointer;
    background-color: transparent;
    border: #F9FAF8 solid 2px;
    color: #F9FAF8;
    padding: 7.5px 30px;
    border-radius: 7.5px;
    font-size: 18px;
    font-weight: bold;
}
footer {
    color: #F9FAF8;
    text-align: center;
    padding: 20px 0;
}
footer > a, footer > p > a {
    color: #3882F6;
}